<h1>Thay đổi mật khẩu</h1>
<% if (msg.length) { %>
    <div class="alert alert-success"><%= msg %></div>
<% } %> 
<form action="" method="post" class="form">
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend col-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu cũ</span>
            </div>
            <input type="password" class="form-control" name="old_password" value="<%= req.old.old_password ?? user.old_password %>">
        </div>
        <span class="text text-danger"><%= req.errors.old_password %></span>
    </div>
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend col-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu mới</span>
            </div>
            <input type="password" class="form-control" name="new_password" value="<%= req.old.new_password ?? user.new_password %>">
        </div>
        <span class="text text-danger"><%= req.errors.new_password %></span>
    </div>
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend col-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Xác nhận mật khẩu</span>
            </div>
            <input type="password" class="form-control" name="confirm_password" value="<%= req.old.confirm_password ?? user.confirm_password %>">
        </div>
        <span class="text text-danger"><%= req.errors.confirm_password %></span>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Lưu</button>
        <a href="/edit-profile" class="btn btn-secondary">Cancel</a>
    </div>
</form>

